html{
    scroll-behavior: smooth;
}


h1, h2, h3, h4, h5, p {
    color: black;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}



h1 {
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-weight: bold;
}



h3 {
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    font-weight: normal;

}

body{
}

#navbar{
    width: 100%;
    height: 60px;
    top: 0;
    position: fixed;
    left: 0;
    z-index: 1000000;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01),0 10px 30px rgba(0,0,0,0.08);
    display: flex;
    justify-content: flex-end;
    background: rgb(36, 41, 47);
}

.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    list-style-position: outside;
}

.nav-list a{
    display: block;
    color: #fefefe;
    -moz-osx-font-smoothing: grayscale;
    padding: 1rem;
    text-decoration: none;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}

.nav-list a:hover{
    color: #C4C4C4;
    transition-duration: .5s;
}

#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:100vh;
    align-items: flex-start;
    margin-top: -40px;
}

.intro{
    font-size: 50px;
}

#portfolio{
    margin-top: 50px;
}

.icon{
    width:50px;
    height:50px;
}

#tech-stack{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
